<f:if condition="{processedRow.tx_altaahsharebuttons_dataservices}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_dataservices" /></strong>
    {processedRow.tx_altaahsharebuttons_dataservices} (raw={row.tx_altaahsharebuttons_dataservices})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_databuttonstyle}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_databuttonstyle" /></strong>
    {processedRow.tx_altaahsharebuttons_databuttonstyle} (raw={row.tx_altaahsharebuttons_databuttonstyle})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datatheme}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datatheme" /></strong>
    {processedRow.tx_altaahsharebuttons_datatheme} (raw={row.tx_altaahsharebuttons_datatheme})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_dataorientation}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_dataorientation" /></strong>
    {processedRow.tx_altaahsharebuttons_dataorientation} (raw={row.tx_altaahsharebuttons_dataorientation})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_databackendurl}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_databackendurl" /></strong>
    {processedRow.tx_altaahsharebuttons_databackendurl} (raw={row.tx_altaahsharebuttons_databackendurl})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_dataflattrcategory}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_dataflattrcategory" /></strong>
    {processedRow.tx_altaahsharebuttons_dataflattrcategory} (raw={row.tx_altaahsharebuttons_dataflattrcategory})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_dataflattruser}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_dataflattruser" /></strong>
    {processedRow.tx_altaahsharebuttons_dataflattruser} (raw={row.tx_altaahsharebuttons_dataflattruser})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datainfourl}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datainfourl" /></strong>
    {processedRow.tx_altaahsharebuttons_datainfourl} (raw={row.tx_altaahsharebuttons_datainfourl})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datainfodisplay}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datainfodisplay" /></strong>
    {processedRow.tx_altaahsharebuttons_datainfodisplay} (raw={row.tx_altaahsharebuttons_datainfodisplay})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datalang}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datalang" /></strong>
    {processedRow.tx_altaahsharebuttons_datalang} (raw={row.tx_altaahsharebuttons_datalang})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datamailbody}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datamailbody" /></strong>
    {processedRow.tx_altaahsharebuttons_datamailbody} (raw={row.tx_altaahsharebuttons_datamailbody})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datamailsubject}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datamailsubject" /></strong>
    {processedRow.tx_altaahsharebuttons_datamailsubject} (raw={row.tx_altaahsharebuttons_datamailsubject})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datamailurl}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datamailurl" /></strong>
    {processedRow.tx_altaahsharebuttons_datamailurl} (raw={row.tx_altaahsharebuttons_datamailurl})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datamediaurl}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datamediaurl" /></strong>
    {processedRow.tx_altaahsharebuttons_datamediaurl} (raw={row.tx_altaahsharebuttons_datamediaurl})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datareferrertrack}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datareferrertrack" /></strong>
    {processedRow.tx_altaahsharebuttons_datareferrertrack} (raw={row.tx_altaahsharebuttons_datareferrertrack})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datatitle}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datatitle" /></strong>
    {processedRow.tx_altaahsharebuttons_datatitle} (raw={row.tx_altaahsharebuttons_datatitle})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_datatwittervia}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_datatwittervia" /></strong>
    {processedRow.tx_altaahsharebuttons_datatwittervia} (raw={row.tx_altaahsharebuttons_datatwittervia})<br>
</f:if>
<f:if condition="{processedRow.tx_altaahsharebuttons_dataurl}">
    <strong><f:translate key="LLL:EXT:altaahsharebuttons/Resources/Private/Language/locallang_db.xlf:tt_content.tx_altaahsharebuttons_dataurl" /></strong>
    {processedRow.tx_altaahsharebuttons_dataurl} (raw={row.tx_altaahsharebuttons_dataurl})<br>
</f:if>
