<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

<div class="row div-shariff">
  <div class="col-12 col-sm-12 col-md-12">
    <div class="shariff" 
    <f:if condition="{data.tx_altaahsharebuttons_dataservices}">
     data-services="{data.tx_altaahsharebuttons_dataservices}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_databuttonstyle}">
     data-button-style="{data.tx_altaahsharebuttons_databuttonstyle}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datamailbody}">
     data-mail-body="{data.tx_altaahsharebuttons_datamailbody}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datamailurl}">
     data-mail-url="{data.tx_altaahsharebuttons_datamailurl}"
    </f:if>    
    <f:if condition="{data.tx_altaahsharebuttons_datatwittervia}">
     data-twitter-via="{data.tx_altaahsharebuttons_datatwittervia}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datatitle}">
     data-title="{data.tx_altaahsharebuttons_datatitle}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datareferrertrack}">
     data-referrer-track="{data.tx_altaahsharebuttons_datareferrertrack}"
    </f:if>       
    <f:if condition="{data.tx_altaahsharebuttons_datamediaurl}">
     data-media-url="{data.tx_altaahsharebuttons_datamediaurl}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datamailsubject}">
     data-mail-subject="{data.tx_altaahsharebuttons_datamailsubject}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datalang}">
     data-lang="{data.tx_altaahsharebuttons_datalang}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datainfodisplay}">
     data-info-display="{data.tx_altaahsharebuttons_datainfodisplay}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datainfourl}">
     data-info-url="{data.tx_altaahsharebuttons_datainfourl}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_dataflattruser}">
     data-flattr-user="{data.tx_altaahsharebuttons_dataflattruser}"
    </f:if> 
    <f:if condition="{data.tx_altaahsharebuttons_dataflattrcategory}">
     data-flattr-category="{data.tx_altaahsharebuttons_dataflattrcategory}"
    </f:if> 
    <f:if condition="{data.tx_altaahsharebuttons_databackendurl}">
     data-backend-url="{data.tx_altaahsharebuttons_databackendurl}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_dataorientation}">
     data-orientation="{data.tx_altaahsharebuttons_dataorientation}"
    </f:if>
    <f:if condition="{data.tx_altaahsharebuttons_datatheme}">
     data-theme="{data.tx_altaahsharebuttons_datatheme}"
    </f:if> 
    <f:if condition="{data.tx_altaahsharebuttons_dataurl}">
     data-url="{data.tx_altaahsharebuttons_dataurl}"
    </f:if>                
    ></div>
  </div>
</div>

</f:section>

</html>





